<beans xmlns="http://www.springframework.org/schema/beans"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			  xmlns:context="http://www.springframework.org/schema/context"
			  xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="au.com.lonsec.singampk.funduitl" />
	<context:property-placeholder location="classpath*:outperformance.properties"/>


	<bean id="applicationContextProvider" class="au.com.lonsec.singampk.fundutil.utils.ApplicationContextProvider"/>
	<bean id="applicationProperties" class="au.com.lonsec.singampk.fundutil.utils.ApplicationProperties">
	</bean>
	<bean id="getDataObjects" class="au.com.lonsec.singampk.fundutil.dao.impl.GetDataObjectsImpl"/>
	<bean id="generateOutperformanceReport" class="au.com.lonsec.singampk.fundutil.businessunit.impl.GenerateOutperformanceReportImpl"/>
	<bean id="loadCSVFiles" class="au.com.lonsec.singampk.fundutil.utils.LoadCSVFiles" >
		<property name="applicationProperties" ref="applicationProperties"/>
	</bean>
	<bean id="sortUtils" class="au.com.lonsec.singampk.fundutil.utils.SortUtils"/>

</beans> 
